<div>
  <h3>Games</h3>
  <div class="row">
    <div class="col-md-4 card-spacing">
      <div class="card">
        <img [src]="'assets/icons/' + games[0].image" class="card-img-top" [alt]="games[0].title">
        <div class="card-body ">
          <h5 class="card-title">{{ games[0].title }}</h5>
          <p class="card-text">{{ games[0].description }}</p>
          <a (click)="playGame(games[0].url)" class="btn btn-primary">Play Now</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 card-spacing">
      <div class="card">
        <img [src]="'assets/icons/' + games[1].image" class="card-img-top" [alt]="games[1].title">
        <div class="card-body ">
          <h5 class="card-title">{{ games[1].title }}</h5>
          <p class="card-text">{{ games[1].description }}</p>
          <a (click)="playGame(games[1].url)" class="btn btn-primary">Play Now</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 card-spacing">
      <div class="card">
        <img [src]="'assets/icons/' + games[2].image" class="card-img-top" [alt]="games[2].title">
        <div class="card-body ">
          <h5 class="card-title">{{ games[2].title }}</h5>
          <p class="card-text">{{ games[2].description }}</p>
          <a (click)="playGame(games[2].url)" class="btn btn-primary">Play Now</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 card-spacing">
      <div class="card">
        <img [src]="'assets/icons/' + games[3].image" class="card-img-top" [alt]="games[3].title">
        <div class="card-body ">
          <h5 class="card-title">{{ games[3].title }}</h5>
          <p class="card-text">{{ games[3].description }}</p>
          <a (click)="playGame(games[3].url)" class="btn btn-primary">Play Now</a>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="games.length === 0 ">
    <p>Loading games...</p>
  </div>
</div>
